<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /anchor/

  # Allow direct access to existing files and folders
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # SPA fallback
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-store, no-cache, must-revalidate"
  Header set Pragma "no-cache"
</IfModule>
